<div class="container">
  <div class="section">
    <div class="rows is-centered is-mobile is-multiline">
      <div class="column has-text-centered">
        <h1 class="title is-1">
          Reddit Photo App
        </h1>
        <br />
        <p class="subtitle">
          Get Photos ranging from amatuers to professionals, on various genres ranging from astrophotography to street,
          just select the subreddit and a parameter and get all the great photos.
        </p>
      </div>
      <form [formGroup]="inputForm" (ngSubmit)="onSubmit()" class="row field is-horizontal is-centered ">
        <div class="field-body column has-text-centered mx-0 px-0">
          <div class="field is-narrow">
            <div class="control">
              <div class="select is-fullwidth">
                <select formControlName="subreddit">
                  <option selected>Select Reddit...</option>
                  <option *ngFor="let data of subredditArray">
                    {{data}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="field-body column has-text-centered mx-0 pr-0">
          <div class="field is-narrow">
            <div class="control">
              <div class="select is-fullwidth">
                <select class="" formControlName="params">
                  <option selected>Select Params...</option>
                  <option *ngFor="let data of params">
                    {{data}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="field-body column has-text-centered px-0">
          <div class="field">
            <div class="control">
              <button [disabled]="disableButton()" class="button is-primary">
                Get Photos
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-container *ngIf="param && subreddit">
  <app-photo-card [selected]="returnTerm()" [param]="returnParam()"></app-photo-card>
</ng-container>